body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: pink;
  font-family: sans-serif;
}

h1{
    color: white;
    background-color: deeppink;
    font-size: 65px;
    margin: 0px;
    text-align: center;
    border-radius: 5px;
}
div{
  text-align:center;
  margin-bottom: 10px;
  color:white;
  background-color: deeppink;
  border-radius: 5px;
  margin-top: 10px;
}

h2{
    margin:0px;
    text-decoration: underline;
    color: hotpink;
    font-size: 40px;
  }

img{
   width: 250px;
   display: block;
   margin: 10px auto;
   border-radius: 50%;
}

h4{
  text-align: center;
  margin: 0px;
  font-size: 20px;
  text-decoration: underline;
}

h3{
  margin: 5px;
}

li{
  font-size: 20px;
}

ol {
  width: 400px;
}

p {
  text-align: left;
}

.evens {
  background-color: hotpink;
}

.odds {
  background-color: deeppink; 
}
span{
  color:red;
  font-weight: bold;
}
